
 .admin-home-index{
    .el-header {
        background-color: #B3C0D1;
        color: #333;
        height: 60px;
        line-height: 60px;
        .title{
            text-align: left;
        }
        
      }
 }