// 弹窗
.el-dialog__title{
    font-size: 16px;
}

// form表单
.el-form.uip_custom_form{
    .el-form-item{
        label{
            color: #808080;
            font-size: 14px;
        }
        .el-form-item__content{
            line-height: inherit;
        }
    }
}

// 下拉框
.el-input{
    input{
        border: 0;
    }
}



input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #B2B2B2;
    font-size: 14px;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    color: #B2B2B2;
    font-size: 14px;
}
input::-moz-placeholder, textarea::-moz-placeholder {
    color: #B2B2B2;
    font-size: 16px;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #B2B2B2;
    font-size: 16px;
}
