
 .admin-home-index{
     height: 100%;
     width: 100%;
    .el-container{
        .el-header {
            .header-info{
                text-align: right;
            }
        }
        .el-main{
            border: 1px solid ;
        }
    }
 }