/* 公共页面样式 */
// 账号设置
.account-setting{
    height: 100%;
    width: 100%;
    .set-main{
        padding: 10px;
        .el-row{
            height: 100%;
            margin-top: -120px;
            .el-col >di
            .el-col:nth-child(1){
                text-align: right;
                > div{
                    line-height: 50px;
                }
            }
        }
    }
}

